# Xcode
AIMeter/*.xcodeproj
AIMeter/build/
build/
*.xcuserdata
*.xcworkspace
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Dependencies
.build/

# Sparkle tools (binaries)
scripts/sparkle-tools/